<header>
  <nav
    class="purple-nav navbar navbar-expand-sm navbar-toggleable-sm box-shadow"
  >
    <a class="navbar-brand" [routerLink]="['/']"><img src="../../assets/logo.png" class="img-fluid" /></a>
    <div class="container">
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon navbar-light"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item mr-2"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <button class="btn btn-outline-success strong" [routerLink]="['/']">Home</button>
          </li>
          <li class="nav-item mr-2" *ngIf="!_authService.loggedIn()">
            <button class="btn btn-outline-success strong" (click)="openLoginDialog()">
              Login
            </button>
          </li>
          <li class="nav-item" *ngIf="!_authService.loggedIn()">
            <button class="btn btn-outline-success strong" (click)="openRegisterDialog()">
              Register
            </button>
          </li>
          <li class="nav-item mr-2" *ngIf="_authService.loggedIn()">
            <button class="btn btn-outline-success strong" (click)="navigateChat()">
              Chat
            </button>
          </li>
          <li class="nav-item mr-2" *ngIf="_authService.loggedIn()">
            <button class="btn btn-outline-success strong" (click)="navigateUsers()">
              Explore Users
            </button>
          </li>
          
          <li class="nav-item mr-2" *ngIf="_authService.loggedIn()">
            <button class="btn btn-outline-success strong" (click)="navigateRepoFetch()">
              Fetch My Repos
            </button>
          </li>
          <li class="nav-item" *ngIf="_authService.loggedIn()">
            <button class="btn btn-outline-success strong" (click)="logout()">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
