@import "bootstrap";

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.purple-nav {
  background-color: #9c27b0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10000;
}

.img-fluid {
    max-width: 300px;
    width:100%;
}

.btn-outline-success {
  @include button-outline-variant(#36ff37, #ffffff, lighten(#367437,5%), #367437);
}
