<div class="message-thread shadow-sm p-3 mb-3 rounded h-100 d-flex flex-column-reverse">
    <ng-container *ngIf="(messages$ | async) as messages">
        <div style="overflow: scroll; overflow-x: hidden; max-height: 630px;" class="d-flex flex-column-reverse">
            <div *ngFor="let message of messages" class="m-3">
                <ng-template [ngIf]="message.senderUsername === _messageService.messageThread.value.senderName"
                    [ngIfElse]="sentBlock">
                    <div class="row d-flex justify-content-start p-2">
                        <div class="text-white shadow-sm bg-primary rounded p-1"
                            style="display: inline-block; max-width: 400px; overflow-wrap: break-word;">
                            {{message.text}}
                        </div>
                    </div>
                </ng-template>
                <ng-template #sentBlock>
                    <div class="row d-flex justify-content-end p-2">
                        <div class="text-white shadow-sm bg-success rounded p-1"
                            style="display: inline-block; max-width: 400px; overflow-wrap: break-word;">
                            {{message.text}}
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

    </ng-container>
</div>
