<div class="main-chat">
  <app-sidebar id="collapseExample" [ngClass]="{'collapse': collapse, 'contactsSidebar': true}" style=" margin-right: 1px;"></app-sidebar>
  <div style="width: 2%">
    <div class="centerDiv">
      <button (click)="toggle()" mat-mini-fab  data-bs-toggle="collapse" data-bs-target="collapseExample" aria-expanded="true" aria-controls="collapseExample" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider [vertical]="true">

  </mat-divider>

  <app-message-segment class="remaining"></app-message-segment><!--style="width: 70%;"-->!>
</div>
