<div>
  <div class="wrapper">
    <main class="center-title">
      <h2 class="lead-title">Chat. Experiece. Explore.</h2>
      <p class="lead">Messenger media is not a media. The key is to listen, engage, and build relationships. <span class="strong">--- David Alston</span></p>
      <p class="lead">
        <button (click)='register()'
                class="btn btn-lg btn-outline-warning lead-button"
                *ngIf="!_authService.loggedIn()">
          Become a Member
        </button>
        <button (click)='openChat()'
                class="btn btn-lg btn-outline-warning lead-button"
                *ngIf="_authService.loggedIn()">
          Chat Now
        </button>
      </p>

    </main>

    <video loop muted autoplay oncanplay="this.play()" id="background-video" onloadedmetadata="this.muted = true">
      <source src="../../assets/videos/home.mp4" type="video/mp4">
    </video>

  </div>
</div>
